<div class="center hero-unit">
<h1>Portfolio</h1>

<table>
<tr>
	<td>
		<%= link_to image_tag("paper.png", size:"120x120"), 'monicasharma_psyc314paper.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="monicasharma_psyc314paper.pdf" target="_blank">The Effects of Yoga Participation on Self Perception and Well Being in Males and Femails</a></h3>
		<strong><h4>Scholarly Article, Research, Data Analysis(SPSS)</h4></strong>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("mobile.png", size:"100x100"), 'techcocktail.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="techcocktail.pdf" target="_blank">TechCocktail Mobile Application</a></h3>
		<strong><h4>UX Research, Persona creation, Testing, Information Architecture</h4></strong>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("mobile.png", size:"100x100"), 'storkstack.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="storkstack.pdf" target="_blank">StorkStack Mobile Application</a></h4>
		<strong><h4>UX Research, Flow Diagram, Testing, Information Architecture</h4></strong>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("browser.png", size:"100x100"), 'http://www.weownitsummit.org', target:'_blank' %>
	</td>
	<td>
		<h3><a href="www.weownitsummit.org" target="_blank">Fouth Annual We Own It Summit Website</a></h3>
		<h4>Website redesign, Development (Ruby/Rails, Twitter Bootstrap, HTML/CSS), User Experience Research</h4>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("mobile.png", size:"100x100"), 'dga.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="dga.pdf" target="_blank">Democratic Governors Association Mobile Application</a></h3>
		<h4>UX Research, Testing, Flow diagrams, Personas, Information Architecture</h4>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("browser.png", size:"100x100"), 'http://smart-data-visualization.tumblr.com/post/45866843667/i-took-a-different-spin-on-things-and-implemented', target:'_blank' %>
	</td>
	<td>
		<h3><a href="http://smart-data-visualization.tumblr.com/post/45866843667/i-took-a-different-spin-on-things-and-implemented" target="_blank">SMart Project: Correlations between Individuals and Social Causes</a></h3>
		<h4>Data Visualization, Web Development (d3 framework, Javascript, HTML/CSS), Data Analysis</h4>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("paper.png", size:"120x120"), 'EZLinks_Features.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="EZLinks_Features.pdf" target="_blank">EZlinks Website Redesign</a></h3>
		<h4>Use Experience Stakeholder Research, Competative Analysis</h4>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("paper.png", size:"120x120"), 'OD_CA.pdf', target:'_blank' %>
	</td>
	<td>
		<h3><a href="OD_CA.pdf" target="_blank">Overdog Mobile Application Research</a></h3>
		<h4>User Experience Stakeholder Research, Competitive Analysis</h4>
	</td>
</tr>
<tr>
	<td>
		<%= link_to image_tag("browser.png", size:"100x100"), 'http://levelbadger.6te.net/', target:'_blank' %>
	</td>
	<td>
		<h3><a href="http://levelbadger.6te.net/" target="_blank">Level Badger Web Application</a></h3>
		<h4>Password Retrieval Feature Implementation(Ruby/Rails)</h4>
	</td>
</tr>

</table>



</div>